
.firstText{
  background-image: linear-gradient(to right top, #ff7f7f, #ff8686, #ff8c8c, #ff9393, #ff9999);
 
  height: 625.5px;
  display: flex;
}
.container_first{
  align-items: center;
  margin: 250px 250px;
}
