.tenthText{
  background-image: radial-gradient(circle, #cb2424, #c62323, #c02222, #bb2121, #b62020);
  height: 100vh;
  display: flex;
}


.container_tenth{
  margin: 0 auto;
  padding: 150px;
}

.title_tenth{
  padding: 50px;
  text-align: center;
}
