.fifthText{
 
  background-image: radial-gradient(circle, #e74040, #e8383a, #e83035, #e9252f, #e91729); 
  height: 100vh;
  display: flex;
}

.container_fifth{
  margin: 0 auto;
  padding: 325px;
}


