.secondText{
  background-image: radial-gradient(circle, #fe8181, #ff7777, #ff6d6c, #ff6262, #fe5757);
  height: 625.5px;
  display: flex;
}


.container_second{
  align-items: center;
  margin: 270px 400px;
}
