.secondText{

  background-image: radial-gradient(circle, #ee9494, #ec8281, #e96f6d, #e55b59, #e04545);
  height:  100vh;
  display: flex;
}


.container_second{
  margin: 0 auto;
  padding: 325px;
}
