.seventhText{
  background-image: radial-gradient(circle, #f81828, #e51423, #d2101f, #c00c1a, #ae0816);
  height: 100vh;
  display: flex;
}


.container_seventh{
 margin: 0 auto;
 padding: 300px;
}


