*{
  box-sizing: border-box; 
  margin: 0 auto; 
}


body{
  font-family:  'Sanchez', serif, Courier, monospace;
}

.container{

  /* margin: 165px; */
   
 display: flex;
  
}


.text{

  /* align-items: center; */
}